[Unit]
Description=Remove files older than 7 days from ~/Downloads

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'find %h/Downloads -mindepth 1 -mtime +7 -delete; find %h/Downloads -mindepth 1 -depth -type d -empty -delete'
